{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renan Alves - Portifolio</title>
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <script src="{% static 'principal/js/script.js' %}" defer></script>
</head>

<body>
    {% include "portifolio/partials/head.html" %}
    {% include "portifolio/partials/main.html" %}
    {% include "portifolio/partials/footer.html" %}
</body>

</html>