<footer class="principal footer">

    <section class="contato-content" id='contato'>
        <div class="link-contato">
            
            <a href="https://www.instagram.com/r.alvess6/" class="contato-here">Instagram</a>
            <a href="https://www.linkedin.com/in/renanalves433/" class="contato-here">Linkedin</a>
            <a href="https://github.com/Renanntj" class="contato-here">Github</a>

        </div>
        <div class="credits">
            <p>Desenvolvido por <a href="">Renan</a></p>
        </div>
    </section>

</footer>