<header class="principal-header">
    <section class='principal-section' id='home'>
        <div class="menu-mobile" onclick="toggleMenu()">⋮</div>

        <div class="name-header bar">
            <h1 id="renan">Renan</h1>
        </div>
        <div class="bar">
            <a href="#home" class="link-header">Inicio</a>
            <a href="#sobre" class="link-header">Sobre</a>
            <a href="#projetos" class="link-header">Projetos</a>
            <a href="#contato" class="link-header">Contato</a>
        </div>
    </section>
    <section class="principal-content-header">
        <div class="bigname-header">
            <h1>Renan</h1>
        </div>
        <div class="content-header">
            <div class="header-ap">
                <h2>A força por trás do que você vê.</h2>
                <p>Dev Backend — discreto na execução, rigoroso na arquitetura.
                    Transformo lógica em sistemas confiáveis, onde cada decisão tem propósito. Nada sobra. Nada
                    falta.</p>
            </div>
        </div>
        <div class="link-header-content">
            <a href="https://www.linkedin.com/in/renanalves433/">Linkedin</a>
            <a href="https://github.com/Renanntj">Github</a>
        </div>
    </section>
</header>
<nav class="mobile-nav" id="mobileNav">
    <a href="#sobre">Sobre</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#projetos">Projetos</a>
    <a href="#contato">Contato</a>
</nav>
