<main class="principal-main">
    <section class="sobremim-content">
        <div class="imagem-sobremim">
            <img src="" alt="Eu">
        </div>
        <div class="sobremim-content-main">
            <div class="sobremim-side">
                <h1>Me Conheça</h1>
                <p>Soluções simples, decisões precisas.
Cada detalhe existe para sustentar o sistema.</p>
            </div>
            <div class="sobremim-look">
                <h3>Olá, sou Renan!</h3>
                <p>Atuo no desenvolvimento Back-End, com foco em arquitetura de software, modelagem de dados e construção de sistemas consistentes. Evito soluções apressadas — cada decisão é pensada para reduzir complexidade, garantir estabilidade e facilitar manutenção a longo prazo. <br>

Trabalho com lógica, regras de negócio e fluxo de dados, transformando ideias em estruturas claras, previsíveis e escaláveis. Meu código prioriza legibilidade, responsabilidade bem definida e comportamento determinístico.
<br><br>
Meu objetivo como dev backend é construir sistemas sólidos, onde desempenho, segurança e clareza técnica coexistem, e onde cada linha de código existe por um motivo — nada sobra, nada falta.</p>
            </div>
        </div>
    </section>
    
</main>